# Database Config
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=123456
DB_NAME=task_management

# JWT Secret
JWT_ACCESS_SECRET=239113e498254636f101ebed63525da281332fdb4886e75f89e2eb3736267bb6
JWT_REFRESH_SECRET=25a298c7a6ac0769a433685b103b7f07dca5bbdb2c4cadfd042c3422ab30c31f
JWT_EXPIRES_IN = 1d
# App Config
PORT=3000

# resend_api ไปเอา key ได้จากเว็บ https://resend.com
MAIL_HOST=smtp.resend.com
MAIL_PORT=465
MAIL_SECURE=true
MAIL_USER=resend
RESEND_API_KEY=
MAIL_FROM="Nak Drive Support <onboarding@resend.dev>"


